.SignIn {
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
  width: 85%;
  display: inline-block;
  text-align: center;
  color: #000000;
}

.crewIsWaitingContainer {
  padding-top: 13px;
  padding-bottom: 43px;
}

.crewIsWaiting {
  height: 24px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.smsIcon {
  width: 17px;
}

.continueButton {
  background: #fff !important;
  border: 1px solid #9a00ff !important;
  box-sizing: border-box;
  border-radius: 5px !important;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.smsIconSpan,
.emailIconSpan {
  padding-right: 5px;
}

.spanSmsContainer {
  text-align: left;
  padding: unset;
}

.buttonEmail {
  padding-top: 30px;
}

.removePaddingLeft {
  padding-left: unset;
}

.removePaddingRight {
  padding-right: unset;
}

.orAlterPadding {
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 11.6666666667%;
  display: flex;
  justify-content: center;
}

.or {
  min-height: 33px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #777185;
}

.orRowTopPadding {
  padding-top: 30px;
}

.validateField {
  background-image: unset !important;
  border-color: unset !important;
  border-top: unset !important;
  border-left: unset !important;
  border-right: unset !important;
  border-radius: unset !important;
  background-position: unset !important;
  background-repeat: unset !important;
  background-size: unset !important;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  padding-right: 0.75rem !important;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000 !important;
  padding-left: 8px;
}

.validField {
  border-bottom: 1px solid #d2cfda !important;
}

.invalidField {
  background-color: #fff0f0;
  border-bottom: 1px solid #e82828 !important;
}

.validateField::placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* Placeholder text color */
  color: #b3abc6;
  /* opacity: 1;  */
  /* Firefox */
}

.validateField:focus {
  box-shadow: unset !important;
  background-color: unset;
}

.validateFieldWithIcon .is-valid {
  background-image: unset !important;
}

.emailLabel {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5b476b;
  padding-left: 8px;
}

.invalidFieldFeedback {
  background-color: #fff !important;
  margin-top: 0 !important;
}

.formBase {
  padding-top: 30px;
  width: 365px;
  margin: 0 auto;
}

.termsText {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777185;
  margin-top: 32px;
  margin-bottom: 0;
}

.navLink {
  text-decoration: none;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #9a00ff;
}

.navLink:active,
.navLink:focus {
  color: #6d00e6;
}

.buttonContainer {
  padding-top: 32px;
  padding-bottom: 48px;
  width: 280px;
  margin: 0 auto;
}

.eyeIcon {
  position: absolute;
  right: 8px;
}

.inputContainer {
  margin-top: 26px;
}

.passwordMatchesSuccess {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #007760;
  padding-top: 2px;
}

.passwordMatchesError {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #e82828;
  padding-top: 2px;
}

.passwordTip {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #777185;
}

@media screen and (max-width: 768px) {
  .formBase,
  .buttonContainer {
    width: 100%;
  }
}
