.roleSelectBase {
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  top: 40%;
}

.dropDown {
  max-height: 245px;
}
.roleSelectBase > input {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: none !important;
}
