.container {
  width: 100%;
  border-radius: 10px;
  background-color: #e3d5fd;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

.infoPopupButton {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
}

.infoIcon {
  scale: 80%;
}

.itemsRow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.innerContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  font-family: IBM Plex Sans;
  font-style: normal;
  line-height: 21px;
  height: 56px;
  padding: 24px;
}
