.roomLevelBase {
  text-align: center;
  width: 100%;
  /*z-index: 1;*/
}

.levelName {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d2cfda;
  line-height: 0.1em;
  margin: 30px 0 20px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #6d00e6;
}

.levelName span {
  background-color: #ffffff;
  padding: 0 5px;
}
