.textTopPadding {
    padding-top: 32px;
}

.text {
    /* Web regular regular body text 16px */
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #777185;
}

.buttonRowTopPadding {
    padding-top: 25px;
    text-align: center;
}

.buttonCol {
    max-width: 280px;
}