.signInForgotPasswordRow {
  padding-top: 36px;
  padding-bottom: 64px;
  padding-left: 0;
}
.checkBox {
  width: 16px;
  height: 16px;
  border-radius: 2px !important;
  background: #ffffff;
  border: 1px solid #9a00ff !important;
}
.checkBox:checked[type="checkbox"] {
  background-color: #9a00ff !important;
  border-color: #9a00ff !important;

  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e"); */
}
.checkBox:focus {
  border-color: unset !important;
  outline: 0;
  box-shadow: unset !important;
}
.checkBoxLabel {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5b476b;
}
.forgotPassword {
  height: 21px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #9a00ff;
}
.pointer {
  cursor: pointer;
}
