.container {
  padding-top: 32px;
  padding-left: 50px;
  padding-bottom: 24px;
  max-width: 610px;
}

.button {
  width: 123px;
  height: 40px;
  white-space: nowrap;
}

.companyLogo {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #777185;
}

.description {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #777185;
  padding-top: 8px;
  margin-bottom: 12px;
}

.inputFields {
  min-width: 365px;
}

.phoneInputField {
  width: 100%;
  outline: none;
}

.addressTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #777185;
  padding-top: 24px;
  margin-bottom: 2px !important;
}

.addressTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #777185;
  padding-top: 24px;
  margin-bottom: 2px !important;
}

.phoneInputs {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}

.phoneInputContainer {
  margin-left: 16px;
}
