.LetterHeaderBase {
    margin-top: 40px;
}

.sectionName {
    width: 100%;
    border-bottom: 5px solid #E8E7ED;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #5B476B;
}

.sectionName span {
    padding: 0 5px;
}
