.signInWrapperBase {
  padding-top: 99px;
}
.svgRocket {
  width: 204px;
  height: 32px;
}
.svgRocketContainer {
  padding: 40px 0;
  text-align: center;
  display: none;
}
.title {
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  display: inline-block;
  text-align: center;
  color: #000000;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .svgRocketContainer {
    display: block;
  }
  .signInWrapperBase {
    padding-top: 0;
  }
}
