.emptyRoomsPlaceholderBase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 300px);;
}

.noRoomsText {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B3ABC6;
}
