.flexCenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    min-width: 100px;
}

.active-Tab,
.active-Tab:hover {
    color: #ffffff !important;
    font-weight: 600;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(316.14deg, #6d00e6 1.84%, #9a00ff 96.25%) !important;
}
.active-Tab::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 600 !important;
}
