.tabsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  padding: 0;
  margin: 0 12px;
}

.tabsContainer a {
  height: 30px !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 10px 0;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #777185;
  border-bottom: 3px solid transparent !important;
}

.tabsContainer a .icon-inactive path {
  fill: #777185;
}

.tabsContainer .tabs {
  padding-bottom: 1px;
  border-bottom: none;
}

.tabsContainer .active-Tab,
.tabsContainer .active-Tab:hover {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-right: 24px;
  color: #000000 !important;
  border-bottom: 3px solid #9a00ff !important;
}

.active-Tab::after {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600 !important;
}

.icon-active,
.icon-inactive {
  margin-right: 0.5em;
}

.tabsContainer .active-Tab .icon-active path {
  fill: #9a00ff !important;
}

.active-Tab:hover .icon-inactive path,
.tabsContainer a:hover .icon-inactive path {
  fill: #9a00ff;
}

.seeAllTab {
  position: absolute;
  right: 16px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #5b476b;
}

.flexTop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTabs {
  margin-right: 24px;
}
