.emptyNotesPlaceholderBase {
    width: calc(100% - 3rem);
    min-height: 380px;
    margin: 40px auto;
    padding: 0 0 24px;
    border: 1px solid #D2CFDA;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
}

.header {
    border-bottom: 1px solid #E8E7ED;
}

.imageWrapper {
    transform: scale(0.40);
    transform-origin: left;
    width: 40px;
}

.projectText {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #6D00E6;
    margin-bottom: 0;
}

.projectIcon {
    cursor: unset !important;
}

.noProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.noProjects p {
    margin: 24px 0 30px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B3ABC6;
}

.noProjects svg {
    align-self: center;
}
