.multiUnitTabsWrapper {
    border: 1px solid #D2CFDA;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 0 24px;
}

.tilesContainer {
    display: flex;
    flex-wrap: wrap;
}

.noLocations {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #B3ABC6;
}