.roomTileBase {
  width: 155px;
  height: 155px;
  margin: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.roomTextWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
}

.hasImage {
  margin-left: 8px;
  margin-top: 8px;
}
.roomName {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 3px 6px rgba(142, 134, 163, 0.1);
  display: block;
}

.photosCount {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12.003px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
}

.noPhotosText {
  color: #777185;
}

.noPhotosBorder {
  height: 155px !important;
  width: 155px !important;
  border-radius: 8px;
  border: 1px solid #9a00ff;
  padding: 8px;
}
