.modalContent {
    height: 220px;
    padding: 1.3em 1.5em;
    box-shadow: 0 24px 44px rgba(119, 113, 133, 0.2);
    border-radius: 5px;
}
.modalHeader {
    padding: 0 0 0.5em 0;
    border-color: #e8e7ed;
}

.modalTitle{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #5b476b;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: '[..]?';
}
.modalTitle {
    text-transform: capitalize;
}
.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0 0;
}
.modalBody  {
    font-family: IBM Plex Sans;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.downloadButton {
    width: 155px;
}
