.modalTitle {
  font-family: IBM Plex Sans;
  text-align: center;
  width: 100%;
}

.text {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.validField {
  border-bottom: 1px solid #d2cfda !important;
}

.invalidField {
  background-color: #fff0f0;
  border-bottom: 1px solid #e82828 !important;
}

.buttonRow {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
}

.delete {
  background: linear-gradient(135deg, #ff0101 0%, #e60000 100%);
  border: 1px solid #e82828 !important;
}

.delete:disabled {
  opacity: 0.3;
}
